.faixa-01 {
    background-color: #394a16;
    padding-top: 17px;
    padding-bottom: 17px;

    p {
        font-family: 'Bebas Neue';
        font-weight: bold;
        font-style: normal;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 55px;
        line-height: 50px;
        letter-spacing: 2px;
    }
}

.faixa-02 {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #dddc1b;
    position: relative;

    &::before {
        content: "";
        width: 2%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffffff;
    }

    &::after {
        content: "";
        width: 2%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #ffffff;
    }

    p {
        font-family: 'Bebas Neue';
        font-weight: bold;
        font-style: normal;
        color: #394a16;
        text-transform: uppercase;
        font-size: 40px;
        line-height: 45px;
        letter-spacing: 10px;
    }

}

.terrenos360 {
    background-color: #dddc1b;
    position: relative;
    margin-top: -5px;

    &::before {
        content: "";
        width: 2%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffffff;
    }

    &::after {
        content: "";
        width: 2%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #ffffff;
    }

    .faixa-03 {
        display: flex;
        justify-content: center;
        background-color: #4c5f1d;
        width: 48%;
        height: auto;
        
        p {
            font-family: 'Bebas Neue';
            font-weight: bold;
            font-style: normal;
            color: #ffffff;
            text-transform: uppercase;
            font-size: 3.3vw;
            line-height: 50px;
            letter-spacing: 2px;
            margin: 0.4vw;
        }
    }
    
    .terrenos360Img {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .txt {
        padding-bottom: 20px;

        p {
            padding-left: 30px;
            padding-right: 30px;
            font-family: 'Myriad Pro';
            font-weight: normal;
            font-style: normal;
            color: #0b0d09;
            font-size: 19px;
            line-height: 27px;
        }
    }
}

.min7 {
    padding-top: 10px;
    padding-bottom: 20px;

    .tt-01 {
        font-family: 'Bebas Neue';
        font-weight: bold;
        font-style: normal;
        color: #394a16;
        text-transform: uppercase;
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 4px;
    }
    
    .tt-02 {
        font-family: 'Bebas Neue';
        font-weight: bold;
        font-style: normal;
        color: #ff4d00;
        text-transform: uppercase;
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 4px;
        margin-bottom: 20px;
    }
}

.fale {
    padding-top: 20px;

    .tt-03 {
        font-family: 'Bebas Neue';
        font-weight: bold;
        font-style: normal;
        color: #ff4d00;
        text-transform: uppercase;
        font-size: 25px;
        line-height: 35px;
        letter-spacing: 4px;
        margin-bottom: 20px;
    }
}

.waze {
    padding-top: 50px;
}

/* Extra Small */
@media(max-width:767px) {
    .faixa-01 {
        padding-top: 14px;
        padding-bottom: 8px;

        p {
            font-size: 25px;
            line-height: 25px;
        }
    }

    .faixa-02 {
        padding-top: 10px;
        padding-bottom: 7px;

        &::before {
            width: 1.5%;
        }

        &::after {
            width: 1.5%;
        }

        p {
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 5px;
        }
    }

    .terrenos360 {
        margin-top: -6px;

        &::before {
            width: 1.5%;
        }

        &::after {
            width: 1.5%;
        }
        
        .faixa-03 {
            width: 70%;
            p {
                font-size: 4vw;
                margin: -10px 0;
            }
        }
        
        
        .terrenos360Img {
            img {
                max-width: 90%;
            }

            padding-top: 20px;
            padding-bottom: 20px;
        }

        .txt {
            padding-bottom: 20px;

            p {
                padding-left: 20px;
                padding-right: 20px;
                font-size: 16px;
                line-height: 23px;
            }
        }
    }

    .min7 {
        padding-top: 10px;
        padding-bottom: 10px;

        .tt-01 {
            font-size: 23px;
            line-height: 30px;
            letter-spacing: 3px;
            margin-bottom: 10px;
        }

        .tt-02 {
            font-size: 23px;
            line-height: 30px;
            letter-spacing: 3px;
        }
    }

    .fale {
        padding-top: 15px;

        .tt-03 {
            font-size: 23px;
            line-height: 30px;
            letter-spacing: 3px;
            margin-bottom: 10px;
        }
    }

    .waze {
        padding-top: 25px;

        img {
            max-width: 90%;
        } 
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {
    .terrenos360 {
        .faixa-03 {
            width: 59%;
            p {
                font-size: 4vw;
                margin: 0;
            }
        }
    }
}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}

/* Large */
@media(min-width:1200px) {}