.faixa-01 {
  background-color: #394a16;
  padding-top: 17px;
  padding-bottom: 17px;
}

.faixa-01 p {
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 55px;
  line-height: 50px;
  letter-spacing: 2px;
}

.faixa-02 {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #dddc1b;
  position: relative;
}

.faixa-02::before {
  content: "";
  width: 2%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}

.faixa-02::after {
  content: "";
  width: 2%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ffffff;
}

.faixa-02 p {
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  color: #394a16;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 10px;
}

.galeria {
  position: relative;
}

.galeria a {
  position: absolute;
  bottom: 0%;
  left: 18%;
  right: 66%;
}

.terrenos360 {
  background-color: #dddc1b;
  position: relative;
  margin-top: -6px;
}

.terrenos360::before {
  content: "";
  width: 2%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}

.terrenos360::after {
  content: "";
  width: 2%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ffffff;
}

.terrenos360 .faixa-03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4c5f1d;
  width: 48%;
  height: auto;
}

.terrenos360 .faixa-03 p {
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 3.3vw;
  line-height: 50px;
  letter-spacing: 2px;
  margin: 0.4vw;
}

.terrenos360 .terrenos360Img {
  padding-top: 30px;
  padding-bottom: 30px;
}

.terrenos360 .txt {
  padding-bottom: 20px;
}

.terrenos360 .txt p {
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Myriad Pro';
  font-weight: normal;
  font-style: normal;
  color: #0b0d09;
  font-size: 19px;
  line-height: 27px;
}

.vista-maravilhosa p {
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  color: #394a16;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 4px;
}

.galeria-perspectiva {
  padding-left: 2vw;
}

.min7 {
  padding-top: 10px;
  padding-bottom: 20px;
}

.min7 p {
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  color: #ff4d00;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.fale {
  padding-top: 20px;
}

.fale .tt-03 {
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  color: #ff4d00;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.waze {
  padding-top: 50px;
}

/* Extra Small */
@media (max-width: 767px) {
  .faixa-01 {
    padding-top: 14px;
    padding-bottom: 8px;
  }
  .faixa-01 p {
    font-size: 25px;
    line-height: 25px;
  }
  .faixa-02 {
    padding-top: 10px;
    padding-bottom: 7px;
  }
  .faixa-02::before {
    width: 1.5%;
  }
  .faixa-02::after {
    width: 1.5%;
  }
  .faixa-02 p {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 5px;
  }
  .terrenos360 {
    margin-top: -6px;
  }
  .terrenos360::before {
    width: 1.5%;
  }
  .terrenos360::after {
    width: 1.5%;
  }
  .terrenos360 .faixa-03 {
    width: 70%;
  }
  .terrenos360 .faixa-03 p {
    font-size: 4vw;
    margin: -10px 0;
  }
  .terrenos360 .terrenos360Img {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .terrenos360 .terrenos360Img img {
    max-width: 90%;
  }
  .terrenos360 .txt {
    padding-bottom: 20px;
  }
  .terrenos360 .txt p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    line-height: 23px;
  }
  .vista-maravilhosa {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .vista-maravilhosa p {
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 3px;
    margin-bottom: 10px;
  }
  .galeria-perspectiva {
    padding-left: 1.4vw;
  }
  .min7 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .min7 p {
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 3px;
  }
  .fale {
    padding-top: 15px;
  }
  .fale .tt-03 {
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 3px;
    margin-bottom: 10px;
  }
  .waze {
    padding-top: 25px;
  }
  .waze img {
    max-width: 90%;
  }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
  .terrenos360 .faixa-03 {
    width: 59%;
  }
  .terrenos360 .faixa-03 p {
    font-size: 4vw;
    margin: 0;
  }
}

/* Medium */
/* Large */
/*# sourceMappingURL=home.css.map */