@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-BoldCondIt.eot");
  src: url("../fonts/MyriadPro-BoldCondIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-BoldCondIt.woff2") format("woff2"), url("../fonts/MyriadPro-BoldCondIt.woff") format("woff"), url("../fonts/MyriadPro-BoldCondIt.ttf") format("truetype"), url("../fonts/MyriadPro-BoldCondIt.svg#MyriadPro-BoldCondIt") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Semibold.eot");
  src: url("../fonts/MyriadPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Semibold.woff2") format("woff2"), url("../fonts/MyriadPro-Semibold.woff") format("woff"), url("../fonts/MyriadPro-Semibold.ttf") format("truetype"), url("../fonts/MyriadPro-Semibold.svg#MyriadPro-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Franklin Gothic Std';
  src: url("../fonts/ITCFranklinGothicStd-BkCd.eot");
  src: url("../fonts/ITCFranklinGothicStd-BkCd.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCFranklinGothicStd-BkCd.woff2") format("woff2"), url("../fonts/ITCFranklinGothicStd-BkCd.woff") format("woff"), url("../fonts/ITCFranklinGothicStd-BkCd.ttf") format("truetype"), url("../fonts/ITCFranklinGothicStd-BkCd.svg#ITCFranklinGothicStd-BkCd") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold.woff2") format("woff2"), url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold.ttf") format("truetype"), url("../fonts/BebasNeueBold.svg#BebasNeueBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/BebasNeueRegular.eot");
  src: url("../fonts/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueRegular.woff2") format("woff2"), url("../fonts/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular.ttf") format("truetype"), url("../fonts/BebasNeueRegular.svg#BebasNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Franklin Gothic Std';
  src: url("../fonts/ITCFranklinGothicStd-Book.eot");
  src: url("../fonts/ITCFranklinGothicStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCFranklinGothicStd-Book.woff2") format("woff2"), url("../fonts/ITCFranklinGothicStd-Book.woff") format("woff"), url("../fonts/ITCFranklinGothicStd-Book.ttf") format("truetype"), url("../fonts/ITCFranklinGothicStd-Book.svg#ITCFranklinGothicStd-Book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Franklin Gothic Std';
  src: url("../fonts/ITCFranklinGothicStd-DmCd.eot");
  src: url("../fonts/ITCFranklinGothicStd-DmCd.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCFranklinGothicStd-DmCd.woff2") format("woff2"), url("../fonts/ITCFranklinGothicStd-DmCd.woff") format("woff"), url("../fonts/ITCFranklinGothicStd-DmCd.ttf") format("truetype"), url("../fonts/ITCFranklinGothicStd-DmCd.svg#ITCFranklinGothicStd-DmCd") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Franklin Gothic Std';
  src: url("../fonts/ITCFranklinGothicStd-Med.eot");
  src: url("../fonts/ITCFranklinGothicStd-Med.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCFranklinGothicStd-Med.woff2") format("woff2"), url("../fonts/ITCFranklinGothicStd-Med.woff") format("woff"), url("../fonts/ITCFranklinGothicStd-Med.ttf") format("truetype"), url("../fonts/ITCFranklinGothicStd-Med.svg#ITCFranklinGothicStd-Med") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.margin-top {
  margin-top: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-27 {
  margin-top: 27px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-54 {
  margin-top: 54px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-65 {
  margin-top: 65px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-99 {
  margin-top: 99px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-110 {
  margin-top: 110px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-top-140 {
  margin-top: 140px;
}

.margin-top-149 {
  margin-top: 149px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-160 {
  margin-top: 160px;
}

.margin-top-200 {
  margin-top: 200px;
}

.margin-top-220 {
  margin-top: 220px;
}

.margin-top-230 {
  margin-top: 230px;
}

.margin-top-250 {
  margin-top: 250px;
}

.margin-top-330 {
  margin-top: 330px;
}

.margin-top-350 {
  margin-top: 350px;
}

.margin-top-380 {
  margin-top: 380px;
}

.margin-top-385 {
  margin-top: 385px;
}

.margin-top-390 {
  margin-top: 390px;
}

.margin-top-400 {
  margin-top: 400px;
}

.padding-off {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

p {
  margin: 0;
}

.container-off-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.row-off-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.aviso {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

.aviso div {
  display: table;
  margin: 10% auto 0;
  width: 40%;
  background-color: #394a16;
  padding: 20px 10px;
  position: relative;
}

.aviso div .close {
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 0;
  top: -35px;
  z-index: 999;
  color: #fff;
  font-size: 35px;
  line-height: 35px;
}

.aviso div p {
  font-family: 'Myriad Pro';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1.667;
  color: #ffffff;
  text-transform: uppercase;
}

.float-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 0.5%;
  z-index: 999;
  bottom: 40%;
}

.float-box a {
  width: 47px;
  overflow: hidden;
  color: rgba(255, 255, 255, 0);
  -webkit-transition: width 400ms, color 800ms;
  transition: width 400ms, color 800ms;
  height: 47px;
  line-height: 27px;
  display: block;
  margin-bottom: 5px;
  padding: 10px 15px;
  text-transform: uppercase;
  font-family: 'Myriad Pro';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
}

.float-box a:hover {
  width: 220px;
  color: white;
}

.float-box .chat {
  background: url(../images/icone-chat.png) no-repeat right center;
  background-color: rgba(0, 0, 0, 0);
  background-color: #2e4515;
  border-radius: 11px;
}

.float-box .phone {
  background: url(../images/icone-tel.png) no-repeat right center;
  background-color: rgba(0, 0, 0, 0);
  background-color: #2e4515;
  border-radius: 11px;
  font-size: 18px;
}

.float-box .mail {
  background: url(../images/icone-mail.png) no-repeat right center;
  background-color: rgba(0, 0, 0, 0);
  background-color: #2e4515;
  border-radius: 11px;
}

.float-box .whats {
  background: url(../images/icone-zap.png) no-repeat right center;
  background-color: rgba(0, 0, 0, 0);
  background-color: #2e4515;
  border-radius: 11px;
}

.cookies {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  height: 100%;
  top: 0;
  display: none;
}

.cookies .box {
  background-color: #dddc1b;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 20px;
  border-radius: 25px;
}

.cookies .box p {
  font-family: 'Myriad Pro';
  font-weight: normal;
  font-style: normal;
  color: #394a16;
  font-size: 12px;
  line-height: 14px;
  margin-top: 7px;
}

.cookies .box p a {
  text-decoration: underline;
  color: #4c5f1d;
}

.cookies .box .btn_cookie {
  font-family: 'Myriad Pro';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  border: 0px solid transparent;
  border-radius: 50px;
  padding: 12px 30px;
  width: 160px;
  margin-top: 7px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #394a16;
}

.modalMapa .close {
  color: #fff;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  top: -26px;
  right: -19px;
  font-size: 15px;
  line-height: 15px;
  border-radius: 100px;
  border: solid 1px #fff;
  padding: 2px 5px 2px;
}

.modalMapa .modal-dialog {
  width: 1200px;
  margin: 50px auto;
}

.modalMapa .modal-body {
  padding: 0px;
}

.modalVideo .close {
  color: #fff;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  top: -26px;
  right: -19px;
  font-size: 15px;
  line-height: 15px;
  border-radius: 100px;
  border: solid 1px #fff;
  padding: 2px 5px 2px;
}

.modalVideo .modal-body {
  padding: 0px;
}

/* Extra Small */
@media (max-width: 767px) {
  .aviso div {
    margin: 30% auto 0;
    width: 95%;
  }
  .padding-off-mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .float-box {
    bottom: 30%;
  }
  .cookies .box {
    padding-top: 10px;
  }
  .cookies .box .btn_cookie {
    margin-top: 20px;
  }
  .modalMapa .close,
  .modalVideo .close {
    top: -26px;
    right: 0px;
  }
  .modalMapa .modal-dialog,
  .modalVideo .modal-dialog {
    width: auto;
    margin: 30% auto 0;
  }
}

.faixa-01 {
  background-color: #394a16;
  padding-top: 17px;
  padding-bottom: 17px;
}

.faixa-01 p {
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 55px;
  line-height: 50px;
  letter-spacing: 2px;
}

.faixa-02 {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #dddc1b;
  position: relative;
}

.faixa-02::before {
  content: "";
  width: 2%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}

.faixa-02::after {
  content: "";
  width: 2%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ffffff;
}

.faixa-02 p {
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  color: #394a16;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 10px;
}

.terrenos360 {
  background-color: #dddc1b;
  position: relative;
  margin-top: -6px;
}

.terrenos360::before {
  content: "";
  width: 2%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}

.terrenos360::after {
  content: "";
  width: 2%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ffffff;
}

.terrenos360 .faixa-03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4c5f1d;
  width: 48%;
  height: auto;
}

.terrenos360 .faixa-03 p {
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 3.3vw;
  line-height: 50px;
  letter-spacing: 2px;
  margin: 0.4vw;
}

.terrenos360 .terrenos360Img {
  padding-top: 30px;
  padding-bottom: 30px;
}

.terrenos360 .txt {
  padding-bottom: 20px;
}

.terrenos360 .txt p {
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Myriad Pro';
  font-weight: normal;
  font-style: normal;
  color: #0b0d09;
  font-size: 19px;
  line-height: 27px;
}

.vista-maravilhosa p {
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  color: #394a16;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 4px;
}

.galeria-perspectiva {
  padding-left: 2vw;
}

.min7 {
  padding-top: 10px;
  padding-bottom: 20px;
}

.min7 p {
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  color: #ff4d00;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.fale {
  padding-top: 20px;
}

.fale .tt-03 {
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  color: #ff4d00;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.waze {
  padding-top: 50px;
}

/* Extra Small */
@media (max-width: 767px) {
  .faixa-01 {
    padding-top: 14px;
    padding-bottom: 8px;
  }
  .faixa-01 p {
    font-size: 25px;
    line-height: 25px;
  }
  .faixa-02 {
    padding-top: 10px;
    padding-bottom: 7px;
  }
  .faixa-02::before {
    width: 1.5%;
  }
  .faixa-02::after {
    width: 1.5%;
  }
  .faixa-02 p {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 5px;
  }
  .terrenos360 {
    margin-top: -6px;
  }
  .terrenos360::before {
    width: 1.5%;
  }
  .terrenos360::after {
    width: 1.5%;
  }
  .terrenos360 .faixa-03 {
    width: 70%;
  }
  .terrenos360 .faixa-03 p {
    font-size: 4vw;
    margin: -10px 0;
  }
  .terrenos360 .terrenos360Img {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .terrenos360 .terrenos360Img img {
    max-width: 90%;
  }
  .terrenos360 .txt {
    padding-bottom: 20px;
  }
  .terrenos360 .txt p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    line-height: 23px;
  }
  .vista-maravilhosa {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .vista-maravilhosa p {
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 3px;
    margin-bottom: 10px;
  }
  .galeria-perspectiva {
    padding-left: 1.4vw;
  }
  .min7 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .min7 p {
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 3px;
  }
  .fale {
    padding-top: 15px;
  }
  .fale .tt-03 {
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 3px;
    margin-bottom: 10px;
  }
  .waze {
    padding-top: 25px;
  }
  .waze img {
    max-width: 90%;
  }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
  .terrenos360 .faixa-03 {
    width: 59%;
  }
  .terrenos360 .faixa-03 p {
    font-size: 4vw;
    margin: 0;
  }
}

/* Medium */
/* Large */
.contato {
  background-color: #dddc1b;
  position: relative;
  padding-top: 10px;
}

.contato::before {
  content: "";
  width: 2%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}

.contato::after {
  content: "";
  width: 2%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ffffff;
}

.contato .group-form .form-group {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 10px;
}

.contato .group-form .form-control {
  font-family: 'Myriad Pro';
  font-weight: normal;
  font-style: normal;
  height: 50px;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #4c4034;
  background-color: #fff;
  border: 2px solid #7e942a;
  border-radius: 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
}

.contato .group-form .form-control::-webkit-input-placeholder {
  color: #4c4034;
  position: absolute;
  left: 5%;
  top: 5px;
}

.contato .group-form .form-control:-ms-input-placeholder {
  color: #4c4034;
  position: absolute;
  left: 5%;
  top: 5px;
}

.contato .group-form .form-control::-ms-input-placeholder {
  color: #4c4034;
  position: absolute;
  left: 5%;
  top: 5px;
}

.contato .group-form .form-control::placeholder {
  color: #4c4034;
  position: absolute;
  left: 5%;
  top: 5px;
}

.contato .group-form textarea {
  height: 125px !important;
}

.contato .group-form .btn_enviar {
  font-family: 'Myriad Pro';
  font-weight: normal;
  font-style: normal;
  padding: 12px 30px 8px 30px;
  margin-bottom: 0;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: 1.42857143;
  border: 0px solid transparent;
  border-radius: 25px;
  color: #ffffff;
  background-color: #394a16;
  float: right;
  text-transform: uppercase;
}

.contato .group-form .btn_enviar:hover, .contato .group-form .btn_enviar:focus {
  background-color: #769718;
  outline: none;
  outline-offset: 0px;
}

.contato small {
  font-family: 'Myriad Pro';
  font-weight: normal;
  font-style: normal;
  color: #394a16;
  font-size: 10px;
  line-height: 13px;
  display: block;
}

.contato .showroom {
  padding-top: 20px;
  padding-bottom: 10px;
}

.contato .showroom .tt-04,
.contato .showroom .tt-05 {
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  color: #394a16;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contato .showroom .tt-04 {
  font-size: 40px;
  line-height: 40px;
}

.contato .showroom .tt-05 {
  font-size: 20px;
  line-height: 30px;
}

/* Extra Small */
@media (max-width: 767px) {
  .contato {
    padding-bottom: 20px;
  }
  .contato::before {
    width: 1.5%;
  }
  .contato::after {
    width: 1.5%;
  }
  .contato small {
    margin-top: 10px;
    text-align: center;
  }
  .contato .showroom {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .contato .showroom .tt-04 {
    font-size: 35px;
    line-height: 35px;
  }
  .contato .showroom .tt-05 {
    font-size: 17px;
    line-height: 27px;
  }
}

/* Small */
/* Medium */
/* Large */
footer .parceiros {
  background-color: #dddc1b;
  position: relative;
  padding-top: 30px;
}

footer .parceiros::before {
  content: "";
  width: 2%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}

footer .parceiros::after {
  content: "";
  width: 2%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ffffff;
}

footer .parceiros figcaption,
footer .parceiros p {
  font-family: 'Myriad Pro';
  font-weight: bold;
  font-style: normal;
  color: black;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 3px;
}

footer .parceiros p {
  padding-left: 15px;
  padding-right: 15px;
  line-height: 17px;
}

footer .parceiros figcaption {
  margin-bottom: 20px;
  text-transform: uppercase;
}

footer .parceiros .l {
  border-left: solid 2px #1d1d1b;
}

footer .parceiros .box1 {
  margin-bottom: 30px;
}

footer .menu-footer {
  background-color: #394a16;
  padding-top: 15px;
  padding-bottom: 10px;
}

footer .menu-footer p {
  font-family: 'Myriad Pro';
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  font-size: 12px;
  line-height: 15px;
}

footer .menu-footer .navbar-nav li {
  padding-top: 7px;
  padding-bottom: 7px;
}

footer .menu-footer .navbar-nav li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Myriad Pro';
  font-weight: normal;
  font-style: normal;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  border-right: 1px solid #fff;
  text-transform: uppercase;
}

footer .menu-footer .navbar-nav li > a:focus,
footer .menu-footer .navbar-nav li > a:hover {
  text-decoration: underline;
  background-color: transparent;
}

footer .menu-footer .navbar-nav li:last-child a {
  border-right: 0px solid transparent;
}

footer .menu-footer .navbar-nav li:first-child a {
  padding-left: 0;
}

/* Extra Small */
@media (max-width: 767px) {
  footer .parceiros {
    padding-top: 10px;
  }
  footer .parceiros::before {
    width: 1.5%;
  }
  footer .parceiros::after {
    width: 1.5%;
  }
  footer .parceiros .box1 {
    margin-bottom: 10px;
  }
  footer .parceiros .box1 img {
    max-width: 80%;
  }
  footer .menu-footer .navbar-nav li:first-child a {
    padding-left: 15px;
  }
}

/* Small */
/* Medium */
/* Large */
.politica-tt {
  background-color: #00541f;
  padding-top: 17px;
  padding-bottom: 17px;
}

.politica-tt h3 {
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 4px;
  margin: 0;
  padding: 0;
}

.politica {
  background-color: #dbe296;
  position: relative;
  padding-top: 10px;
}

.politica::before {
  content: "";
  width: 2%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}

.politica::after {
  content: "";
  width: 2%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ffffff;
}

.politica .politica-info {
  margin-top: 30px;
}

.politica .politica-info p {
  font-family: 'Myriad Pro';
  font-weight: normal;
  font-style: normal;
  color: #000;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
}

.politica .politica-info p a {
  color: #EC2c27;
  text-decoration: underline;
}

/* Extra Small */
@media (max-width: 767px) {
  .politica-tt h3 {
    font-size: 25px;
    line-height: 25px;
  }
  .politica {
    padding-bottom: 20px;
  }
  .politica::before {
    width: 1.5%;
  }
  .politica::after {
    width: 1.5%;
  }
  .politica .politica-info {
    margin-top: 20px;
  }
  .politica .politica-info p {
    font-size: 13px;
    line-height: 20px;
  }
}

/* Small */
/* Medium */
/* Large */
/*# sourceMappingURL=style.css.map */